#main article {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 40px;

  h1 {
    margin: 0 0 20px;

    a {
      text-decoration: underline;
      color: #1D95CB;
      margin-bottom: 10px;
      display: inline-block;
      font-size: 34px;
      line-height: 34px;
      border-bottom: 2px solid #FFF;

      &:hover {
        border-bottom: 2px dashed;
      color: #2DA5DB;
      }
    }

    time {
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      display: block;
      color: #888;
    }
  }

  h2 {
    font-size: 20px;
    line-height: 22px;
  }

  ul {
    margin-left: 0;
    padding-left: 1em;
  }

  .links {
    .go-more {
      float: left;
    }

    .go-comments {
      float: right;
    }
  }
  .player {
    li:before {
      content: '';
    }

    a {
      border-bottom: none;
    }
  }
}

