@font-face {
  font-family: Casper;
  src: url(/fonts/Casper_R.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: CasperBold;
  src: url(/fonts/Casper_B.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: CasperItalic;
  src: url(/fonts/Casper_It.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: CasperBoldItalic;
  src: url(/fonts/Casper_B_It.ttf);
  font-style: italic;
  font-weight: bold;
}
